<div class="container">
<h1>資格編集</h1>
<p>
<%= render 'form', qual: @qual %>
</p>
<p>
<%= link_to '詳細', @qual, class: "btn btn-success" %> |
<%= link_to '戻る', quals_path, class: "btn btn-default" %>
</p>
</div>